body{
	margin: 0;
	padding: 0;
	background: #050d21;
	font-family: sans-serif;
}

body {
 margin: 0;
 padding: 0;
 background: #050d21;
}

.newsletter{
  background: linear-gradient(125deg,#401C72,#f8a5c2);
  position: absolute;
  top: 35%;
  left: 13%;
  width: 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px #00000060;
}

.newsletter h1{
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  line-height: 40px;
}

.newsletter h1 span{
  display: block;
  font-size: 38px;
}



.search-box {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: #2f3640;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 color: #e84118;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #2f3640;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: white;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
ul{
	position: relative;
	width: 450px;
	margin: 100px auto 0;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0,0,0,.1);
	box-shadow: inset 0 0 15px rgba(0,0,0,.2);
}
ul li{
	display: flex;
	background: rgba(255,255,255,.1);
	padding: 10px 20px;
	color: #fff;
	margin: 5px 0;
	transition: .5s;
}
ul li span:nth-child(1){
	width: 30px;
}
ul li span:nth-child(2){
	width: 200px;
}
ul li span:nth-child(3){
	width: 100px;
}
ul li:hover{
	transform: scale(1.06);
	background: #050d21;

}