
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1
	/css/all.css">
    <link rel="stylesheet" href="~/css/style2.css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            Registrate aquí
        </div>
        <div class="social_media">
            <div class="item">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="item">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="item">
                <i class="fab fa-google-plus-g"></i>
            </div>
        </div>
        <form asp-controller="Registrar" asp-action="Create" method="post">
            <div class="form">

                <div class="input_field">
                    <input type="text" placeholder="Nombre" name="nombre" class="input">
                    <i class="fas fa-user"></i>
                </div>
                <div class="input_field">
                    <input type="text" placeholder="Nombre de usuario" name="nickname" class="input">
                    <i class="far fa-envelope"></i>
                </div>
                <div class="input_field">
                    <input type="password" placeholder="Contraseña" name="password" class="input">
                    <i class="fas fa-lock"></i>
                </div>
                    <button type="submit" class="btn">Ingresar</button>
                


            </div>
        </form>

    </div>

    </div>

</body>
</html>
