
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <link rel="stylesheet" type="text/css" href="~/css/styleNavBar.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <nav>
        <ul>
            <li>
                <span>
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                <span>
                    <a href="@Url.Action("Index", "Login")"> Inicio </a>
                </span>
            </li>

            <li>
                <span>
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                </span>
                <span>
                    <a href="@Url.Action("MisContact", "Menu")"> Contactos </a>
                </span>
            </li>

            <li>
                <span>
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </span>
                <span>
                    <a href="@Url.Action("Edit", "Menu")"> Mi Perfil </a>
                </span>
            </li>

            <li>
                <span>
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </span>
                <span>
                    <a href="@Url.Action("BuscarMensaje", "Menu")"> Mensajes </a>
                </span>
            </li>
        </ul>
    </nav>
</body>
</html>
